.footer_head
  background: #0E0E33

.footer
  margin-top: 100px
  max-width: 1200px
  margin: 0 auto
  padding: 20px

.footer_container
  max-width: 100%
  margin: 0 auto

.footer_top
  display: flex
  align-items: center
  justify-content: space-between
  padding: 30px 0

.footer_top p
  font-weight: 400
  font-size: 15px
  line-height: 30px
  color: #FFFFFF
  font-family: "Roboto Slab", sans-serif

.footer_logo
  transition: .4s
  cursor: pointer
  &:hover
    transform: scale(1.1)

.footer_section
  display: flex
  justify-content: space-between
  color: #fff

.first_block h5
  font-style: normal
  font-weight: 400
  font-size: 20px
  line-height: 24px
  font-family: "Roboto Slab", sans-serif

.first_block p
  font-style: normal
  font-size: 15px
  line-height: 28px
  font-family: "Roboto Slab", sans-serif
  font-weight: 300

.second_block h5
  font-style: normal
  font-weight: 400
  font-size: 20px
  line-height: 24px
  font-family: "Roboto Slab", sans-serif

.second_block p
  font-style: normal
  font-weight: 400
  font-size: 15px
  line-height: 28px
  font-family: "Roboto Slab", sans-serif

.third_block
  width: 300px

.third_block h5
  font-style: normal
  font-weight: 400
  font-size: 20px
  line-height: 24px
  font-family: "Roboto Slab", sans-serif

.third_block p
  font-style: normal
  font-weight: 400
  font-size: 15px
  line-height: 28px
  font-family: "Roboto Slab", sans-serif
  font-weight: 300

.footer_footer
  display: flex
  align-items: center
  justify-content: space-between
  color: #fff

.footer_footer h5
  font-style: normal
  font-weight: 400
  font-size: 15px
  line-height: 30px
  font-family: "Roboto Slab", sans-serif

.footer_footer h6
  font-style: normal
  font-weight: 400
  font-size: 15px
  line-height: 30px
  transition: .6s
  cursor: pointer
  font-family: "Roboto Slab", sans-serif
  &:hover
    transform: scale(1.1)

@media screen and (max-width: 760px)
  .footer_section
    display: grid
    width: 300px
    margin: 0 auto
